@using RazorToPDF.ViewModels

@model RazorToPDF.Views.Shared.HMPE._HMPEPartialModel
@{
}

<div class="print-row py-2 mt-4">
    <div class="col">
        <label for="StudentName" class="form-label">Student</label>
        <input type="text"
               class="form-control"
               id="StudentName"
               value="@(!string.IsNullOrEmpty(Model.hmpeData.Student) ? Model.hmpeData.Student : string.Empty)" />
    </div>
    <div class="col">
        <label for="studentDateDateAdministered" class="form-label">Date Date Administered</label>
        <input type="text"
               class="form-control"
               id="studentDateDateAdministered"
               value="@(!string.IsNullOrEmpty(Model.hmpeData.DateAdministrated.ToString()) ? Model.hmpeData.DateAdministrated : string.Empty)" />
    </div>
    <div class="col">
        <label for="studentAdministeredBy" class="form-label">Administered by</label>
        <input type="text"
               class="form-control"
               id="studentAdministeredBy"
               value="@(!string.IsNullOrEmpty(Model.hmpeData.AdministratedBy) ? Model.hmpeData.AdministratedBy : string.Empty)" />
    </div>
</div>

<div class="px-3 py-2 blue_box mt-4 border border-2 bg-opacity-10">
    <div class="print-row ">
        <div class="col">
            <p class="form-label">Typical Duration (minutes)</p>
            <p>See Table</p>
        </div>
        <div class="col-7 me-3">
            <label for="actualDuration" class="form-label">Actual Duration</label>
            <input type="number"
                   class="form-control"
                   id="actualDuration"
                   value="@(!string.IsNullOrEmpty(Model.hmpeData.ActualDuration.ToString()) ? Model.hmpeData.ActualDuration : string.Empty)" />
        </div>
    </div>
</div>

<div class="px-3 py-2 mt-4 ash_box border border-2">
    <div class="d-flex flex-row">
        <div><p class="fs-5 fw-bold form-label">Test Purpose</p></div>
        <div class="green_line"></div>
    </div>
    <p>This test measures math ability level in a non-multiple choice format.</p>
</div>

<div class="px-3 py-2 blue_box mt-4 border border-2 bg-opacity-10">
    <div>
        <div class="d-flex flex-row">
            <p class="fs-5 fw-bold form-label">Directions / Test Specific Observations</p>
            <div class="green_line"></div>
        </div>
    </div>
    <div>
        <div>
            <div class="heading_size">A. DIRECTIONS</div>
            <div class="print-row list_size">
                <div class="ps-4">
                    <ol>
                        <li>
                            Administer the Set and allocate the time in the table bellow.
                        </li>
                        <table class="table table-bordered border-black table-3 border-4">
                            <tr>
                                <th class="text-center align-middle" rowspan="3">HMPE Time Requirement</th>
                                <th>Grade</th>
                                <th>PK.0-K.9</th>
                                <th>1.0-1.4</th>
                                <th>1.5-1.9</th>
                                <th>2.0-2.4</th>
                                <th>2.5-2.9</th>
                                <th>3.0-3.9</th>
                                <th>4.0-4.9</th>
                                <th>5.0-5.9</th>
                                <th>6.0-6.9</th>
                                <th>7.0-7.9</th>
                                <th>8.0-8.9</th>
                                <th>9.0+</th>
                            </tr>
                            <tr>
                                <th>Set</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th>Time</th>
                                <td>20</td>
                                <td>20</td>
                                <td>20</td>
                                <td>35</td>
                                <td>35</td>
                                <td>40</td>
                                <td>45</td>
                                <td>45</td>
                                <td>45</td>
                                <td>45</td>
                                <td>45</td>
                                <td>45</td>
                            </tr>
                        </table>
                        <li class="col-6">
                            Say,
                            <ul style="list-style-type:disc" class="italic_font">
                                <li>This is a test of your math ability.</li>
                                <li> There is no passing or failing on this test. Just do the best you can</li>
                                <li>won’t rush, but Con’t waste time either1 After the alloteC time I’ll ask you to stop1wo as much of the test as possible1 I Con’t expect you to Znish the entire test, but try to Co as much of it as you can</li>
                                <li>If you do ahead of time, review your work</li>
                                <li>Try to avoid careless errors.</li>
                                <li>Any questions?"</li>
                            </ul>
                        </li>
                    </ol>
                    <p class="ps-5 col-6">If student is in 1st grade or below, you may read student the questions, as needed</p>
                </div>
            </div>
        </div>
        <div>
            <div class="heading_size">B. TEST SPECIFIC OBSERVATIONS</div>
            <div class="print-row list_size">
                <div class="col-4 ps-3">
                    <p class="mb-1">1. Student's Effort was :</p>
                    <div class="d-flex flex-column ms-4 checkBox-label">
                        @foreach (EffortRate effortRate in Enum.GetValues(typeof(EffortRate)))
                        {
                            var isChecked = Model.hmpeData.EffortRate.Equals(effortRate);
                            var randomInputId = RandomStringHelper.GenerateRandomUniqueString(5);
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@effortRate.ToString()">
                                <label class="form-check-label" for="@randomInputId">@effortRate.ToString().ToProperCase()</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="col px-0">
                    <p class="mb-1">2. Attention Span :</p>
                    <div class="d-flex flex-column ms-4 checkBox-label">
                        @foreach (EffortRate effortRate in Enum.GetValues(typeof(EffortRate)))
                        {
                            var isChecked = Model.hmpeData.EffortRate.Equals(effortRate);
                            var randomInputId = RandomStringHelper.GenerateRandomUniqueString(5);
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@effortRate.ToString()">
                                <label class="form-check-label" for="@randomInputId">@effortRate.ToString().ToProperCase()</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-5 ps-3">
                    <p class="mb-1">3. Did student Exhibit frustration?</p>
                    <div class="ms-4 ">
                        @foreach (ExhibitFrustration exhibitFrustration in Enum.GetValues(typeof(ExhibitFrustration)))
                        {
                            var isChecked = Model.hmpeData.ExhibitFrustration.Equals(exhibitFrustration);
                            var randomInputId = RandomStringHelper.GenerateRandomUniqueString(2);
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@exhibitFrustration.ToString()">
                                <label class="form-check-label" for="@randomInputId">@exhibitFrustration.ToString().ToProperCase()</label>
                            </div>
                        }
                    </div>
                    <div class="mt-5">
                        <label for="studentLastName" class="fw-light">4. This test Administered by and responses recorded by :</label>
                        <input type="text"
                               class="form-control"
                               id="Walter"
                               value="@(!string.IsNullOrEmpty(Model.hmpeData.ResponseBy) ? Model.hmpeData.ResponseBy : string.Empty)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagebreak"> </div>

<div class="print-row py-2  mt-4 ash_box border border-2">
    <div class="ms-3 col-11">
        <div class="d-flex flex-row">
            <div><p class="fs-5 fw-bold form-label">General Questions</p></div>
            <div class="green_line"></div>
        </div>

        <div>
            <p class="fs-5 fw-bold form-label"><u>For all students:</u></p>
        </div>

        <div class="py-2">
            <P class="form-label pb-2">1. How do you feel about Math?</P>
            <p class="normal_font fs-6 mb-0">Student Comments</p>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.Paragraph) ? Model.hmpeData.Paragraph : string.Empty)
                </p>
            </div>
        </div>

        <div>
            <p class="fs-5 fw-bold form-label"><u>For elementry school students</u></p>
        </div>

        <div class="py-2">
            <P class="form-label pb-2">2. What are you doing in math right now?</P>
            <p class="normal_font fs-6 mb-0">Student Comments</p>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.Paragraph) ? Model.hmpeData.Paragraph : string.Empty)
                </p>
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">3. What is your math grade in your last report card?</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.MathGrade.ToString()) ? Model.hmpeData.MathGrade : string.Empty)
                </p>
            </div>
        </div>

        <div class="py-2">
            <label class="form-label">4. How happy are you rith this grade?</label>
            <div class="col checkbox-label">
                @foreach (HowHappy howHappy in Enum.GetValues(typeof(HowHappy)))
                {
                    var isChecked = Model.hmpeData.HowHappy.Equals(howHappy);
                    var randomInputId = RandomStringHelper.GenerateRandomUniqueString(3);
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@howHappy.ToString()">
                        <label class="form-check-label" for="@randomInputId">@howHappy.ToString().ToProperCase()</label>
                    </div>
                }
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">Why do you feel this way? Student Comments</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.Paragraph) ? Model.hmpeData.Paragraph : string.Empty)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pagebreak"> </div>

<div class="print-row py-2  mt-4 ash_box border border-2">
    <div class="ms-3 col-11">
        <div>
            <p class="fs-5 fw-bold form-label"><u>For Middle School and High School students</u></p>
        </div>

        <div class="py-2">
            <label class="form-label">5. What math class are you taking right now?</label>
            <div>
                <div class="col-9 pt-3 checkbox-label">
                    @foreach (MathClass mathClass in Enum.GetValues(typeof(MathClass)))
                    {
                        var isChecked = Model.hmpeData.MathClass.Equals(mathClass);
                        var randomInputId = RandomStringHelper.GenerateRandomUniqueString(3);
                        <div class="col-3 form-check form-check-inline ">
                            <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@mathClass.ToString()">
                            <label class="form-check-label" for="@randomInputId">@mathClass.ToString().ToProperCase()</label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="py-2">
            <label class="form-label">6. Is this an Honorr or AP Class?</label>
            <div class="col checkbox-label">
                @foreach (Classes classes in Enum.GetValues(typeof(Classes)))
                {
                    var isChecked = Model.hmpeData.Classes.Equals(classes);
                    var randomInputId = RandomStringHelper.GenerateRandomUniqueString(3);
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@classes.ToString()">
                        <label class="form-check-label" for="@randomInputId">@classes.ToString().ToProperCase()</label>
                    </div>
                }
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">7. What was your math grade in your last report card?</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.MathGrade.ToString()) ? Model.hmpeData.MathGrade : string.Empty)
                </p>
            </div>
        </div>

        <div class="py-2">
            <label class="form-label">8. How happy are you wiih this grade?</label>
            <div class="col checkbox-label">
                @foreach (HowHappy howHappy in Enum.GetValues(typeof(HowHappy)))
                {
                    var isChecked = Model.hmpeData.HowHappy.Equals(howHappy);
                    var randomInputId = RandomStringHelper.GenerateRandomUniqueString(3);
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="@randomInputId" @(isChecked ? "checked" : "") value="@howHappy.ToString()">
                        <label class="form-check-label" for="@randomInputId">@howHappy.ToString().ToProperCase()</label>
                    </div>
                }
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">Why do you feel this way ? Student Comment</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.Paragraph) ? Model.hmpeData.Paragraph : string.Empty)
                </p>
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">Student Comments</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="m-3">
                    @(!string.IsNullOrEmpty(Model.hmpeData.Paragraph) ? Model.hmpeData.Paragraph : string.Empty)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="py-2 blue_box mt-4 border border-2 bg-opacity-10">
    <div class="ms-3">
        <div class="d-flex flex-row">
            <div><p class="fs-5 fw-bold">Next Test</p></div>
            <div class="green_line"></div>
        </div>
        <div class="print-row">
            <div class="col-3">
                <span>Pre - K to 3:</span>
                <p class="text-secondary">Writing Sample</p>
            </div>
            <div class="col-3">
                <span>4 to 12:</span>
                <p class="text-secondary">Writing Sample</p>
            </div>
            <div class="col me-5">
            </div>
        </div>
    </div>
</div>